{% extends '_base.html' %}

{% load static %}

{% block page_title %}
    Create And Share New Post
{% endblock page_title %}

{% block content %}


    <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                <div class="card shadow my-3 p-5">
                    <h3>Add New Post:</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <table>
                           {{ form.as_table }}
                        </table>

{#                        <div class="form-group py-2">#}
{#                            <label class="py-1">Enter Post Title</label>#}
{#                            <input type="text" class="form-control" placeholder="e.g. some Tile" name="title">#}
{#                        </div>#}
{#                        <div class="form-group py-2">#}
{#                            <label class="py-1">Enter Post Text:</label>#}
{#                            <textarea class="form-control" name="text" rows="8"#}
{#                                      placeholder="Enter Your Post Text Here..."></textarea>#}
{#                        </div>#}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-3">
                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">We Share Our Knowledge About Python, Django And World Of Programming</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                    </div>

                </div>

            </div>
        </div>

    </div>
{% endblock content %}
